body{
    background:#fff;
}
.hero{
    position:relative;
    min-height:180px;
    margin: 0 auto;
    text-align:center;
    margin-bottom:12px
}

div.article{
    padding:  0.5em;
    background-color:rgb(252,221,163);
    width:300px;
    height: 150px;;
    float:right
}
ul.article{
    list-style: circle
}
footer{
    text-align:center;
}